<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966005087116-05doijq3nt9tttujpd9scl2rmegelooc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966005087116-05doijq3nt9tttujpd9scl2rmegelooc</string>
	<key>API_KEY</key>
	<string>AIzaSyCOPQ7Aznx7JyxlhO9oF_BH-nXDv7jyG78</string>
	<key>GCM_SENDER_ID</key>
	<string>966005087116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DuyThai.MVVM-Swift</string>
	<key>PROJECT_ID</key>
	<string>flixhqmovie</string>
	<key>STORAGE_BUCKET</key>
	<string>flixhqmovie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966005087116:ios:ac9202aeab13cdbbb3d4a9</string>
</dict>
</plist>